%p
  = form.label :location_id
  %br
  = collection_select :venue, :location_id, Location.all, :location_id, :name, :prompt => 'Please select a location'

%p
  = form.label :name
  %br
  = form.text_field :name

%p
  = form.label :address
  %br
  = form.text_field :address

%p
  = form.label :comments
  %br
  = form.text_area :comments

%p
  = form.label :sheltered
  %br
  = form.check_box :sheltered
