<h1>Editing venue</h1>

<% form_for(@venue) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :map_url %><br />
    <%= f.text_field :map_url %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <select id="venue_location_id" name="venue[location_id]">
      <option value="-1">Please select a location</option>
      <% @location.each do |location| %>
        <%
          is_selected = ""
          if(location.id == @venue.location_id) then
            is_selected = "selected"
          end
        %>
        <option <%= is_selected %>  value="<%=h location.id %>"><%=h location.name %></option>
      <% end %>
    </select>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @venue %> |
<%= link_to 'Back', venues_path %>
