%h1
  Editing venue

- form_for(@venue) do |f|
  = f.error_messages
  
  = render :partial => "form", :object => f
   
  %p
    = f.submit 'Update'

%p
  = link_to 'Show', @venue
  |
  = link_to 'Back', venues_path
