%h1
  Listing venues

%table
  
  %thead
    %tr
      %th Name
      %th Address
      %th Comments
      %th Location
  
  %tbody
    - @venues.each do |venue|
      %tr
        %td= h venue.name
        %td= h venue.address
        %td= h venue.comments
        %td= h venue.location_name
        %td= link_to 'Show', venue
        %td= link_to 'Edit', edit_venue_path(venue)
        %td= link_to 'Destroy', venue, :confirm => 'Are you sure?', :method => :delete

%p
  = link_to 'New venue', new_venue_path
