<%
 form_for :searches, ([@search]) do |f|
 %>   
  <h1>Lunch Picker</h1>
  <%= error_messages_for_attribute(@search, :location_id, "Location" ) %>

  <p>
    1.) Select a location
    <select id=location_id" name="location_id">  
      <option value="">Please select a location</option>
      <%
      @locations = Location.all 
      @locations.each do |location| %>
      %>
        <%
          is_selected = ""
          if(@search.location_id.eql?("#{location.location_id}")) then
            is_selected = "selected"
          end
        %>
        <option <%= is_selected %> value="<%=h location.id %>"><%=h location.name %></option> 
      <% end %>
    </select>
  </p>
  <p>
  2.) <%= f.submit 'Click me to generate' %> 
  </p>
  <p>
    <%=h @search.venue_name  %>
  </p>
  <p> 
    <%=h @search.comments %>
  </p>
  <div id="map_canvas" style="width: 500px; height: 300px"></div>
<% end %>
