- form_for :search, @search do |f|
  = f.error_messages
  
  %p
    = f.label :location_id, '1.) Select a location'
    = collection_select(:search, :location_id, Location.all, :location_id, :name, {:prompt => "Please select a location"})
  
  %p
    = f.label :sheltered, '2.) Put weather into consideration?'
    = f.check_box :sheltered
  
  %p
    = f.label :submit, '3.)'
    = f.submit 'Where should I have lunch?'

- if @search.venue_name
  %h3
    = image_tag(@search.weather_icon, :alt=>@search.weather_condition)
    Current Weather Conditions
  %p
    %label Weather Condition :
    = h @search.weather_condition
    %br
    %label Temperate (Celcius) :
    = h @search.weather_temp_c
    %br
    %label Wind Conditions :
    = h @search.weather_wind_condition
    %br
    %label Humidity :
    = h @search.weather_humidity
  %h3 Venue Information
  %p
    %label Venue Name :
    = h @search.venue_name
  %p
    = h @search.comments
  = map_canvas("map_canvas", @search.venue_address)
