- form_for :search, @search do |f|
  = f.error_messages
  
  %p
    = f.label :location_id, '1.) Select a location'
    = collection_select(:search, :location_id, Location.find(:all,:order => 'name'), :location_id, :name)
  %p
    = f.label :sheltered, '2.) Put weather into consideration?'
    = f.check_box :sheltered
  
  %p
    = f.label :submit, '3.)'
    = f.submit 'Where should I have lunch?'

- if @current_conditions
  %section.current_conditions
    %h2
      = image_tag WEATHER_ICON_ROOT_PATH+@current_conditions.icon, :alt => @current_conditions.condition
      Current Weather Conditions
    %p
      %strong Condition:
      = h @current_conditions.condition
    %p
      %strong Temp:
      = h @current_conditions.temp_c + '°C'
    %p
      %strong Wind:
      = h @current_conditions.wind_condition.sub /Wind: /, ''
    %p
      %strong Humidity:
      = h @current_conditions.humidity.sub /Humidity: /, ''

- if @venue
  %section.venue
    %h2 Venue Information
    %p
      %strong Venue Name:
      = h @venue.name
    %p
      = h @venue.comments
    = map_canvas("map_canvas", @venue.address)
