- form_for :searches, ([@search]) do |f|
  = f.error_messages

  %p
    %label{ :for => 'location_id' } 1.) Select a location
    %select#location_id{ :name => "location_id",:id=>"location_id" }
      %option{ :value => "" }
        Please select a location
      - Location.all.each do |location|
        %option{ :value => location.id, :selected => location.id == @search.location_id.to_i }
          = h location.name
          
  %p
    %label 2.) Put weather into consideration?
    %input{:type=>"checkbox",:id=>"sheltered",:name=>"sheltered",:value=> "true",:checked=>@search.sheltered}
    
  %p
    %label 3.)
    = f.submit 'Where should I have lunch?'

- if @search.venue_name
  %p= h @search.venue_name
  %p= h @search.comments
  = map_canvas("map_canvas", @search.venue_address)
