<%
if(@search.nil?) then
  @search = Search.new
end
%>
<% form_for :searches, ([@search]) do |f| %>   
  <h1>Lunchpicker</h1>

  <p>
    1.) Select a location
    <select id="location" name="location">
      <option value="-1">Please select a location</option>
      <% @location.each do |location| %>
        <%
          is_selected = ""
          if(@search.location_id.eql?("#{location.location_id}")) then
            is_selected = "selected"
          end
        %>
        <option <%= is_selected %> value="<%=h location.id %>"><%=h location.name %></option> 
      <% end %>
    </select>
  </p>
  <p>
  2.) <%= f.submit 'Click me to generate' %> 
  </p>
<%=h @search.venue_name  %> 
<% end %>
