<!DOCTYPE html>
%html

  %head
    %meta{ "http-equiv" => "Content-type", :content => "text/html; charset=utf-8" }
    %title
      Lunch Picker
    = stylesheet_link_tag 'style'
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js', :type => 'text/javascript' }
    %script{ :src => "http://maps.google.com/maps?file=api&v=2&sensor=false&key=#{GOOGLE_MAP_KEY}", :type => "text/javascript" }

    = javascript_include_tag 'rails'
    = javascript_include_tag 'google_map'
  %body
    #container

      %h1#header_menu
        = link_to image_tag("/images/LunchPickerLogo.png", :alt=>'Lunch Picker', :size=>'320x50'), root_path

      #main

        #sidebar
          %h3
            Menu
          - if (!current_user.nil?)
            %p
              = link_to 'Maintain Locations', locations_path
            %p
              = link_to 'Maintain Venues', venues_path
            %p
              = link_to 'My Account', account_path

            %p
              = link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?"
          - else
            %p
              = link_to "Login", new_user_session_path
            %p
              = link_to "Register", new_user_path

          = link_to "Tutorial", tutorials_path
        #text

          - [:notice, :warning, :message].each do |key|
            - unless flash[key].blank?
              %p.flash{:class => key.to_s}= flash[key]

          = yield

      #footer_menu
        Copyright &copy;
        = Date.today.year
        = link_to "ProgRiff.com", "http://progriff.com"
