<!DOCTYPE html>
%html

  %head
    %meta{ "http-equiv" => "Content-type", :content => "text/html; charset=utf-8" }
    %title
      Lunch Picker
    = stylesheet_link_tag 'style'
    = javascript_include_tag 'jquery-1.3.2.min'
    %script{ :src => "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=#{$GOOGLE_MAP_KEY}", :type => "text/javascript" }
    = javascript_include_tag 'google_map'
  %body
    #container

      #header_menu
        = link_to image_tag("/images/LunchPickerLogo.png", :border=>0), :controller => "searches",:action => 'index'
        
      #main      
        %p{ :style => "color: green" }
        = flash[:notice]
      
        #sidebar
          %h3
            Maintenance
    
          %p
            = link_to 'Venues', venues_path
          %p
            = link_to 'Locations', locations_path
        #text
          = yield
        
      #footer_menu
        Copyright 2009 pugnusferreus.spawncamp.net  
